%h2.title.is-4 Results

- if restaurants.any?

  .content
    %ul
      - restaurants.each do |restaurant|
        %li
          = link_to restaurant.name, restaurant

- else

  %article.message.is-large
    .message-body
      No restaurants matched.
