%h1.title Random Lunch

.field
  = link_to 'New search', new_random_lunch_path, class: "button is-link"

%h2.title.is-4 Results

.content
  %ul
    - @restaurants.each do |restaurant|
      %li
        = restaurant.name
