.tile.is-parent
  .box.tile.is-child
    %article.media
      .media-left
        %span.icon.is-large
          %i.fas.fa-lg{ class: icon }
      .media-content
        .content
          %p.title.is-4
            = link_to title, path