%h1.title Paid Lunch

.field
  = link_to 'New search', paid_lunch_employee_path, class: "button is-link"

.content
  %dl
    %dt= t('paid_lunch.budget')
    %dd= @budget.format

= render "results", restaurants: @restaurants, tag_quantities: @tag_quantities
