%h1.title= @restaurant.name

.field.is-grouped
  .buttons.are-small
    = link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), class: 'button'
    = link_to 'Back to List', restaurants_path, class: 'button'
